
.common tbody tr td input{
    height: 7vh;
    width: 100%;
    color: rgb(243, 119, 4);
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 
.common tbody tr td button{
    height: 7vh;
    width: 100%;
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: orange;
}

