.enrollnow1 {
    height: 140vh;
    width: 100%;
    padding: 20px;


}

.enrollnows-content {
    height: 650px;
    width: 400px;
    text-align: center;


}

.enrollnow3 {
    height: 1300px;
    width: 650px;
    border: 1px solid rgb(241, 237, 237);
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 500px;
}

.enrollnows-content button {

    color: rgb(19, 18, 18);
    background-color: rgb(212, 203, 203);
    border-radius: 5px;
}

.aboutcourses {
    height: 230px;
    width: 160%;
    margin-top: 100px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.aboutcourses h2 {
    margin-right: 400px;
}

.aboutcourses h2:hover {
    border-bottom: 2px solid rgb(255, 166, 0);
}

.aboutcourses p {
    display: flex;
    color: rgb(77, 73, 73);
    margin-top: 20px;
}

.coursesrequire {
    height: 230px;
    width: 160%;
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.coursesrequire h2:hover {
    border-bottom: 2px solid rgb(255, 166, 0);
}

.coursesrequire h2 {
    margin-right: 300px;
}


.coursesrequire ul {
    margin-top: 20px;
    margin-right: 300px;
    color: rgb(77, 73, 73);
}

.coursesrequire ul li {
    margin-left: 60px;
}

.professional {
    height: 200px;
    width: 160%;
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.professional h2 {
    margin-right: 300px;
}

.professional h2:hover {
    border-bottom: 2px solid rgb(255, 166, 0);
}

.professional p {
    margin-top: 20px;
}

.coursefeature {
    height: 260px;
    width: 160%;
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.coursefeature h2 {
    margin-right: 400px;
}

.coursefeature h2:hover {
    border-bottom: 2px solid rgb(255, 166, 0);
}

.coursefeature p {
    color: black;
    margin-top: 20px;
    margin-right: 400px;
}

.coursefeature p span {
    color: rgb(133, 125, 125);
}

.coursefeature button {
    height: 10px;
    width: 500px;
    border: none;
    background-color: rgb(255, 166, 0);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}